.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.07em;
    }
    a {
        &:nth-child(2){
            margin-top: 33px;
        }
        margin-top: 15px;
    }
    @media(max-width: ($md3 + px)) {
        flex-grow: 1;
        align-items: center;
    }
}