@mixin font-size($sizeValue: 14 ){
	font-size: $sizeValue + px; 
	line-height: (1.17 * $sizeValue) + px;
}

@mixin left-border($align: middle, $width: 50px){
	&::before {
		content: "";
		position: relative;
		display: inline-block;
		vertical-align: $align;
		margin-right: 15px;
		width: 50px;
		height: 1px;
		background: $border;
	}
}